<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trace.core.mapper.AuditMapper">

    <select id="getAuditVoPages" resultType="com.trace.core.vo.AuditRegisterVo">

        SELECT *
        FROM firm
        <where>

            <if test="status!=null">
                and status= #{status}
            </if>


        </where>


    </select>

</mapper>
